<html>
<head>
<title>Aussie Based Single Summary Template</title>
</head>
<link rel="stylesheet" type="text/css" href="../lib/resources/css/customstyles.css" />
<body>
<!-- Copy the code between the start and end comments (DO NOT Remove the start and end quotes)-->
<!-- START aussie-based-single -->
<div class="tmn-page">
	<table>
		<tr>
			<td><h1 class="tmn-title">Total Monthly Needs</h1></td>
			<td><img class="tmn-logo" src="http://www.ccca.org.au/tntmpd/TntMPDCCCALogo-new.JPG" alt="CCCA Logo" /></td>
		</tr>
	</table>
	
	<div class="tmn-instructions">
		<div>The TMN is now submitted online, you may still want to save/print a copy for your own records.</div>
	</div>
	
	<p>&nbsp;</p>

	<table>
		<tr>
			<td style="width:50%;"><b>Name: </b>{firstname} {surname}</td>
			<td style="width:25%;"><b>Date: </b>{date}</td>
			<td style="width:25%;"><b>Support Account: </b>{fan}</td>
		</tr>
		<tr>
			<td colspan="3">
				<br />
				<br />
			</td>
		</tr>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
		<tpl if="regular_buffer == 0">
			<tr class="tmn-goals">
				<th>Your Monthly Support Goal is: ${tmn}</th>
				<th colspan="2">Your Account must be above: ${buffer}</th>
			</tr>
		</tpl>
		<tpl if="regular_buffer &gt; 0">
			<tr class="tmn-goals">
				<th>Your Monthly Support Goal is: ${tmn}</th>
				<th>Your Account must be above ${buffer} to start</th>
				<th>Normally Your Account must be above: ${regular_buffer}</th>
			</tr>
		</tpl>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
	</table>
	
	<p>&nbsp;</p>
	
	<div class="tmn-break-down">
	<div class="header">TMN Break Down</div>
	<table>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr>
			<th colspan="2">Name</th>
			<td>{firstname}</td>
		</tr>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
		<tr>
			<th colspan="2">Ministry</th>
			<td>{ministry}</td>
		</tr>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
		<tr>
			<th colspan="2">Status</th>
			<td>{ft_pt_os} - {days_per_wk} Days</td>
		</tr>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
		
		<tr class="tmn-data">
			<th colspan="2">Stipend (Money in your account)</th>
			<td>${stipend}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Housing Stipend (The amount of your stipend that will be used on housing)</th>
			<td>${housing_stipend}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Estimated Tax </th>
			<td>${tax}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Additional Tax </th>
			<td>${additional_tax}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Post-tax Super </th>
			<td>${post_tax_super}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-total">
			<th colspan="2">Taxable Income ( Stipend + Housing Stipend + Estimated Tax + Additional Tax + Post-Tax Super)</th>
			<td>${taxable_income}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Pre-tax Super </th>
			<td>${pre_tax_super}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Additional Life Cover (per month)</th>
			<td>${additional_life_cover}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">MFB\'s</th>
			<td>${max_mfb}</td>
		</tr>
		<tpl if="additional_housing &gt; 0">
			<tr class="tmn-data">
				<th colspan="2">Additional Housing Allowance</th>
				<td>${additional_housing_allowance}</td>
			</tr>
		</tpl>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-total">
			<th colspan="2">Financial Package </th>
			<td>${financial_package}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Employer Super </th>
			<td>${employer_super}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">MMR</th>
			<td>${mmr}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Total Internal Transfers</th>
			<td>${total_transfers}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Worker\'s Compensation</th>
			<td>${workers_comp}</td>
		</tr>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">CCCA Levy</th>
			<td>${ccca_levy}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-total">
			<th colspan="2">Total Monthly Needs</th>
			<td>${tmn}</td>
		</tr>
		<tr>
		    <td colspan="3"><hr /></td>
		</tr>
	</table>
	</div>
	
	<tpl if="housing &gt; 0">
		<p>&nbsp;</p>
		
		<div class="tmn-housing-summary">
		<div class="header">Housing Summary</div>
		<table>
			<tr class="tmn-data">
				<th colspan="2">The amount that comes from your MFBs monthly</th>
				<td>${housing_mfb}</td>
			</tr>
			<tr class="tmn-data">
				<th colspan="2">The amount that comes from you Stipend monthly</th>
				<td>${housing_stipend}</td>
			</tr>
			<tr class="tmn-data">
				<th colspan="2">The amount that comes from Additional Housing Allowance monthly</th>
				<td>${additional_housing}</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr class="tmn-total">
				<th colspan="2">Total Monthly Housing</th>
				<td>${monthly_housing}</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr>
				<th style="text-align:center;" colspan="4">CCCA will pay ${housing} into your elected housing account {housing_frequency}.</th>
			</tr>
		</table>
		</div>
	</tpl>
	
	<tpl if="max_mfb &gt; 0">
		<p>&nbsp;</p>
	
		<div class="tmn-mfb-summary">
		<div class="header">Ministry Fringe Benifits Summary</div>
		<table>
			<tr>
				<th colspan="2">MFB Rate</th>
				<td>{mfb_rate}</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr class="tmn-data">
				<th colspan="2">The amount of your MFBs that you can make claims from</th>
				<td>${claimable_mfb}</td>
			</tr>
			<tr class="tmn-data">
				<th colspan="2">The amount of your MFBs that will go toward housing</th>
				<td>${housing_mfb}</td>
			</tr>
			<tr>
				<td colspan="3"><hr /></td>
			</tr>
			<tr class="tmn-total">
				<th colspan="2">Total Ministry Fringe Benifits</th>
				<td>${max_mfb}</td>
			</tr>
			<tr>
			    <td colspan="3"><hr /></td>
			</tr>
		</table>
		</div>
	</tpl>
	
	<p>&nbsp;</p>
	
	<div class="tmn-super-summary">
	<div class="header">Super Summary</div>
	<table>
		<tr class="tmn-data">
			<th colspan="2">Post Tax Super</th>
			<td>${post_tax_super}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Pre Tax Super</th>
			<td>${pre_tax_super}</td>
		</tr>
		<tr class="tmn-data">
			<th colspan="2">Employer Super</th>
			<td>${employer_super}</td>
		</tr>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
		<tr class="tmn-total">
			<th colspan="2">Total Super</th>
			<td>${total_super}</td>
		</tr>
		<tr>
			<td colspan="3"><hr /></td>
		</tr>
		<tr>
			<th colspan="2">Reportable Employer Super Contribution (RESC)</th>
			<td>${resc}</td>
		</tr>
		<tr>
			<th colspan="2">Super Choice</th>
			<td>{super_fund}</td>
		</tr>
		<tpl if="additional_life_cover &gt; 0">
			<tr>
				<th colspan="2">Amount of Additional Life Cover</th>
				<td>${additional_life_cover}</td>
			</tr>
		</tpl>
		<tr>
			<th colspan="2">Additional Income Protection Premium paid from</th>
			<td>{income_protection_cover_source}</td>
		</tr>
	</table>
	</div>
	
	<tpl if="total_transfers &gt; 0">
		<p>&nbsp;</p>
		
		<div class="tmn-internal-transfer-summary">
		<div class="header">Internal Transfer Summary</div>
		<table>
			<tr>
				<th colspan="2">Internal Transfers: </th>
				<td>Name</td>
				<td>Amount</td>
			</tr>
			<tpl for="transfers">
				<tr class="tmn-data">
				    <th colspan="2"></th>
				    <td>{name}</td>
				    <td>${amount}</td>
				</tr>
			</tpl>
			<tr>
				<td colspan="4"><hr /></td>
			</tr>
			<tr class="tmn-total">
				<th colspan="2">Total Internal Transfers</th>
				<td colspan="2">${total_transfers}</td>
			</tr>
			<tr>
			    <td colspan="4"><hr /></td>
			</tr>
		</table>
		</div>
	</tpl>
	<p>&nbsp;</p>
	
	<p class="footer">
		$Rev$
		 | 
		$Date$
	</p>
</div>
<!-- END aussie-based-single -->
</body>
</html>